{
    "env": {
        "es2020": true,
        "node": true,
        "es6": true,
        "jest": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "globals": {
        "__dirname": true
    }
}